name: Release

on:
  push:
    tags:
      - 'v*' # Triggers on v1.0, v1.0.1, etc.

jobs:
  build:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install Rust
        uses: dtolnay/rust-toolchain@stable

      - name: Build Release
        run: cargo build --release

      - name: Upload Binary to Release
        uses: softprops/action-gh-release@v1
        with:
          files: target/release/ncd.exe
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}